<img src="img/LinkedIN Header.jpg">

# Introduction to SQL - Lesson 1

# Data Exploration

We will work mainly with one database through this workbook. Run next cell to create the connection to the database, located in the `data` folder.

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("data/flights.db")

A database might have multiple tables. Next cells show the tables and schema for each table in this database

In [2]:
query = """
SELECT name 
FROM sqlite_master 
WHERE type='table';
"""
df = pd.read_sql_query(query, conn)
df

In [3]:
for table in ["airports", "airlines", "routes"]:
    query = f"""
    SELECT sql FROM sqlite_master WHERE name = '{table}'
    """
    df = pd.read_sql_query(query, conn)
    print(''.join(df.values[0, 0]))

###Â Q1. Show all columns of table airlines. Then, show first 5 rows using pandas `head()` function. Measure the time to run the cell

Hint: use %%time at the beginning of a cell, to measure the time

In [4]:
%%time
# Add your query below

query = "SELECT * FROM airlines"
df = pd.read_sql_query(query, conn)
df.head(5)

### Q2. Now do the same, but returning just the first 5 rows using SQL. Measure the time again. This time it should be  faster.

In [5]:
%%time
# Add your query below

query = """
SELECT name, callsign, country 
FROM airlines 
LIMIT 5
"""
df = pd.read_sql_query(query, conn)
df
df = pd.read_sql_query(query, conn)
df

### Q3. Find the First 5 names, callsign and countries from airlines.

In [6]:
# Add your query below
# query= """...
df = pd.read_sql_query('SELECT name, callsign, country FROM airlines LIMIT 5;', conn)
df

### Q4. Find 7 airlines from United Kingdom

In [7]:
# Add your query below
# query= """...
df = pd.read_sql_query('SELECT name FROM airlines WHERE country = "United Kingdom" LIMIT 7;', conn)
df

### Q5. Find 5 cities from Papua New Guinea

In [8]:
# Add your query below
# query= """...
df = pd.read_sql_query('SELECT city FROM airports WHERE country = "Papua New Guinea" LIMIT 5;',conn)
df

# Predicates

### Q6. Find airlines having icao equal to ACC or TWF.

In [35]:
# Add your query below
# query= """...
df = pd.read_sql_query("SELECT name FROM airlines WHERE icao IN ('ACC', 'TWF');", conn)
df

### Q7. Find names and country of private flights. 
Hint - Private flights are named as such.

In [21]:
# Add your query below
# query= """...
df = pd.read_sql_query('SELECT name, country FROM airlines WHERE name LIKE "%private%";',conn)
df

### Q8. Find 5 airlines whose names contains the word Flight

In [23]:
# Add your query below
# query= """...
df = pd.read_sql_query('SELECT name FROM airlines WHERE name LIKE "%flight%" LIMIT 5;',conn)
df

### Q9. Find 5 airlines whose names contains the word Flight and from Russia

In [25]:
# Add your query below
# query= """...
df = pd.read_sql_query("SELECT name FROM airlines WHERE name LIKE '%flight%' AND country = 'Russia' LIMIT 5;", conn)
df

### Q10. Find 5 active airlines having a non-empty callsign value. Show name, active, and callsign fields

In [26]:
# Add your query below
# query= """...
df = pd.read_sql_query("SELECT name,active,callsign FROM airlines WHERE callsign !='Null' LIMIT 5;", conn)
df

### Q11. Find the 5 airports with the highest altitude

In [37]:
# Add your query below
# query= """...
df = pd.read_sql_query("SELECT * FROM airports ORDER BY altitude DESC LIMIT 5;", conn)
df

As you can see, there's a problem here with the data. The field altitude is a string, so it's not ordering properly. We'll correct this later

### Q12. Find the 3 airport names beggining with A that have the lowest longitude

In [31]:
# Add your query below
# query= """...
df = pd.read_sql_query("SELECT name FROM airports WHERE name LIKE 'A%' ORDER BY longitude ASC LIMIT 3;", conn)
df